{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <h1>Homepage</h1>
    <p>Benvenuto in Solar Family. Visualizza i dati di produzione di energia solare.</p>

    <a class="btn" href="{% url 'SP:solar_community' %}">Visualizza Dati Community</a>
    <a class="btn" href="{% url 'SP:photovoltaic_system_list' %}">Visualizza Dati Impianti Fotovoltaici</a>
    <a class="btn" href="{% url 'forecast:tomorrow' %}">Previsione Domani</a>
    <a class="btn" href="{% url 'forecast:today' %}">Previsione Oggi</a>
    <a class="btn" href="{% url 'SP:city_benchmark' %}">Confronto tra Città</a>
    {% if user.is_staff %}
        <a class="btn" href="{% url 'SP:intervention_dashboard' %}">Interventi di manutenzione</a>
        <a class="btn" href="{% url 'roi:calculator' %}">Calcolo ROI</a>
    {% endif %}
{% endblock %}
